body {
  font-family: Lucida Grande, Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 13px;
  background : white;
  color : black;
  text-align: left;
  margin: 16px 16px 16px 16px;
}
blockquote {
  font-style: italic;
}
.small {
  font-size: 11px;
}
.header {
  background : #336633;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: bold;
  padding: 8px;
}
.header a:link, .header a:visited, .header a:active {
  color : white;
}
.search {
  float: right;
  position: relative;
  width: 33%;
  text-align: right;
}
.headerLinks, .footerLinks {
  float: right;
  position: relative;
  width: 33%;
  font-size: 11px;
  text-align: right;
}
.headerLinks a:link, .headerLinks a:visited, .headerLinks a:active,
.footerLinks a:link, .footerLinks a:visited, .footerLinks a:active {
  color : white;
}
.category {
}
.selectedCategory {
  color: #336633;
  background: white;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
.photo {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-top: solid black 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  border-left: solid black 1px;
  text-align: center;
}
.codeSample {
  font-family: Courier, sans-serif;
  border-top: solid gray 1px;
  border-right: solid gray 1px;
  border-bottom: solid gray 1px;
  border-left: solid gray 1px;
  text-align: left;
  background: silver;
  margin-left: 32px;
  margin-right: 32px;
  padding: 16px;
  overflow: auto;
}
a:link, a:visited, a:active {
  color: #336633;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
.content {
  background : white;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-right: 220px;
}
.bodyContent {
  background : white;
}
.bodyContentEven {
  background: lightgrey;
}
.bodyContentOdd {
  background: white;
}
.sidebar {
  text-align: center;
  float: right;
  position: relative;
  width: 200px;
  padding-left: 8px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 32px;
}
.footer {
  background: #336633;
  color: white;
  font-size: 11px;
  font-weight: bold;
  padding: 8px;
  clear: both;
}
.footer a:link, .footer a:visited, .footer a:active {
  color : white;
}
.blogName, .blogName a:link, .blogName a:visited, .blogName a:active {
  font-size: 24px;
  font-weight: bold;
}
.blogDescription {
  font-weight: none;
  padding-bottom: 32px;
}
.linearNavigationLinks {
  text-align: center;
  font-size: 11px;
  padding-bottom: 8px;
}
.calendar {
  font-size: 11px;
  text-align: center;
}
.calendarDayHeader {
}
.calendarDay {
  text-align: right;
}
.calendarDayWithEntries, .calendarDayWithEntries a:link, .calendarDayWithEntries a:visited, .calendarDayWithEntries a:active {
  font-weight: bold;
  text-align: right;
}
.calendarToday, .calendarToday a:link, .calendarToday a:visited, .calendarToday a:active {
  background : #336633;
  color: white;
  font-weight: bold;
  text-align: right;
}
.help, .help a:link, .help a:visited, .help a:active {
  color: gray;
  font-weight: bold;
  font-size: 11px;
  text-align: right;
}
.validationError {
  color: white;
  background-color: #B20D1C;
}

.blogEntry, .item {
  text-align: left;
  border: solid #336633 1px;
  margin-bottom: 16px;
}
.comment, .trackBack {
  padding: 8px;
}

.blogEntryHeader, .itemHeader {
  background : #336633;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 20px;
}
.blogEntryHeader a:link, .blogEntryHeader a:visited, .blogEntryHeader a:active,
.itemHeader a:link, .itemHeader a:visited, .itemHeader a:active {
  background : #336633;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 0px;
}
.commentHeader, .commentHeader a:link, .commentHeader a:visited, .commentHeader a:active, .trackbackHeader,
.trackbackHeader a:link, .trackbackHeader a:visited, .trackbackHeader a:active {
  font-weight: bold;
}

.blogEntryBody, .itemBody {
  padding: 8px;
}
.itemBodyEven {
  background: lightgrey;
}
.itemBodyOdd {
  background: white;
}
.commentBody, .trackbackBody {
 padding-top: 8px;
 padding-bottom: 8px;
}

.blogEntryLinks, .itemLinks, .commentLinks, .trackbackLinks {
  float: right;
  position: relative;
  width: 33%;
  font-weight: bold;
  font-size: 11px;
  text-align: right;
}

.blogEntryLinks a:link, .blogEntryLinks a:visited, .blogEntryLinks a:active,
.itemLinks a:link, .itemLinks a:visited, .itemLinks a:active,
.commentLinks a:link, .commentLinks a:visited, .commentLinks a:active,
.trackbackLinks a:link, .trackbackLinks a:visited, .trackbackLinks a:active {
  font-weight: bold;
  font-size: 11px;
  padding: 0px;
}

.blogEntryMetadata, .itemMetadata, .commentMetadata, .trackbackMetadata {
  color: gray;
  font-size: 11px;
  font-weight: bold;
  padding: 8px;
}
.blogEntryMetadata a:link, .blogEntryMetadata a:visited, .blogEntryMetadata a:active,
.itemMetadata a:link, .itemMetadata a:visited, .itemMetadata a:active,
.commentMetadata a:link, .commentMetadata a:visited, .commentMetadata a:active,
.trackbackMetadata a:link, .trackbackMetadata a:visited, .trackbackMetadata a:active {
  color: gray;
  font-size: 11px;
  font-weight: bold;
}
