/*
HTTP Host: static.ak.fbcdn.net
Generated: September 25th 2010 7:35:56 PM PDT
Machine: 10.30.145.197
*/

.dialog_error{background:#ffebe8;border:solid 1px #dd3c10;margin:15px;padding:10px}
.dialog_content{border-bottom:1px solid #ccc;line-height:15px;padding:15px 30px 25px 30px}
.dialog_content h2{padding-bottom:15px}
.dialog_buttons{background:#F2F2F2 none repeat scroll 0 0;text-align:right;padding:10px 15px}
.dialog_buttons input{margin:0 0 0 10px}
.dialog_footer{color:#808080;font-size:9px;padding-top:8px}

#bootloader_css_connect_dialog_css { height: 42px; }